{% extends 'inventory_app/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-danger text-white">
            <h2>Maxsulotni o'chirish</h2>
        </div>
        <div class="card-body">
            <h4>"{{ product.name }}" ni o'chirishga aminmisiz?</h4>

            <form method="post">
                {% csrf_token %}
                <div class="mt-4">
                    <button type="submit" class="btn btn-danger">Ha</button>
                    <a href="{% url 'product_list' %}" class="btn btn-secondary">Bekor qilish</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}